<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React 服务端渲染－ renderToString()</title>
    <script src="../build/react.js"></script>
    <script src="../build/react-dom-server.js"></script>
    <script src="../build/browser.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">
      var MyComponent = React.createClass({
        render: function() {
          return (<h2>{this.props.number}</h2>);
        }
      });

      var itbilu = ReactDOMServer.renderToString(<MyComponent />);
      
      document.getElementById('example').innerHTML = itbilu;
    </script>
  </body>
</html>